<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>department detail</title>
</head>
<body>
<div layout:fragment="content">
    <h2><a th:href="@{'/department/add'}" class="btn btn-success">Create Department</a></h2>
    <h2><a th:href="@{'/department/back'}" class="btn btn-secondary">Back</a></h2>
    <h3>Detail</h3>
    <form th:object="${department}">
        <label>name: <span th:text="*{name}"></span></label><br>
        <label>description: <span th:text="*{description}"></span></label>
    </form>
</div>
</body>
</html>